@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&family=Saira&display=swap");

* {
  --square-width: 60px;
  --container-width: calc(60px * 10);
}

.grid-container {
  position: relative;
  width: var(--container-width);
  height: var(--container-width);
  /* border: 10px solid hsla(212, 50%, 25%, 1) ; */
  /* border-radius: 15px; */
}

.content {
  display: grid;
  grid-template-columns: min-content 1fr;
  grid-template-rows: min-content 1fr;
  width: min-content;
  margin: auto;
}
.label {
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-family: "Saira", sans-serif;
  user-select: none;
  text-shadow: white 1px 0 10px;
}

.top.label {
  grid-column: 2;
  position: relative;
  display: grid;
  width: var(--container-width);
  grid-template-columns: repeat(10, 1fr);
  justify-items: center;
  padding: 0;
}
.left.label {
  position: relative;
  display: grid;
  height: var(--container-width);
  grid-template-rows: repeat(10, 1fr);
  align-items: center;
  padding: 0 5px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  column-gap: 0;
  row-gap: 0;
}

.deployment {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.grid.top {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
}

.square {
  position: relative;
  background-image: url(../assets/dark-square.png);
  background-size: cover;
  height: var(--square-width);
  width: var(--square-width);
  display: grid;
  z-index: 0;
  opacity: 90%;
}

/* .ship{
    min-height: 40px;
    overflow: hidden;
    grid-column: 4 / span 2;
    grid-row: 8;
    position: relative;
}
.ship::before{
    content:"";
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(ship2.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform: rotate(0) scale(1);
} */

/*vertical ship deployment require before element*/

/* .ship2 {
  min-height: 40px;
  overflow: hidden;
  grid-column: 3;
  grid-row: 3 / span 2;
  position: relative;
}
.ship2::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(ship2.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(90deg) scale(2);
} */
/* 
.battleship {
  min-height: 40px;
  overflow: hidden;
  grid-column: 8;
  grid-row: 3 / span 5;
  position: relative;
}
 */

.grid-container .ship {
  visibility: hidden;
}

.grid-container:hover .ship.active:not(.deployed) {
  min-height: 40px;
  overflow: hidden;
  /* grid-column: 6 / span 2;
  grid-row: 8; */
  position: relative;
  visibility: visible;
  background-color: palegreen;
  opacity: 50%;
}

.grid-container .ship.deployed {
  visibility: visible;
  opacity: 100%;
  background-color: hsla(212, 50%, 10%, 0.3);
}

.patrol.ship {
  min-height: 40px;
  overflow: hidden;
  grid-column: span 2;
  position: relative;
  /* opacity: 50%; */
}
.patrol.ship:not(.invalid)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../assets/ship/patrolship.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0) scale(1);
}

.battleship.ship {
  min-height: 40px;
  overflow: hidden;
  position: relative;
  opacity: 50%;
  grid-column: span 5;
}

.battleship.ship:not(.invalid)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../assets/ship/battleship.svg);
  background-size: contain; /*if rotated vertical seems like it need be contain*/
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0deg) scale(1); /*scale is just whatever squares it's supposed to occupy*/
}

.submarine.ship {
  min-height: 40px;
  overflow: hidden;
  position: relative;
  grid-column: span 3;
}

.submarine.ship:not(.invalid)::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url(../assets/ship/submarine.svg);
  background-size: contain; /*if rotated vertical seems like it need be contain*/
  background-position: center;
  background-repeat: no-repeat;
  transform: rotate(0deg) scale(1); /*scale is just whatever squares it's supposed to occupy*/
}

.grid-container:hover .ship.active.invalid {
  background-color: red;
  background-image: none;
  cursor: not-allowed;
}
